


@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Leckerli+One');

body {
  background-color: #f9f9f9;
  font-family: 'Didact Gothic', sans-serif;
}

.navbar {
  font-family: 'Didact Gothic', sans-serif;
  background-color: white !important;
}

.navbar-brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.top-nav {
  background-color: white;
  border-bottom:  1px solid #FFA0DB;
}

.navbar a {
  font-weight: bold;
  color: #FF0DA3;
  font-size: 16px;
  padding-left: 8px;
  text-decoration: none;
}

.navbar a.navbar-brand {
  color: #FF0DA3;
  font-size: 30px;
  font-family: 'Leckerli One', cursive;
  text-decoration: none;
}

.navbar .navbar-brand:hover {
  color: #FF0DA3;
}

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #e8e8e8;
  margin-top: 30px;
  padding: 0;
}

.handle {
  margin: 10px;
  color: #FF0DA3;
  font-weight: bold;
  font-size: 16px;
}

.card p, .card .message {
  font-size: 16px;
  margin: 20px;
}

.card.form {
  padding: 20px;
}

label {
  font-size: 16px;
}

input {
  font-size: 16px;
  font-weight: 400;
}

.my-btn {
  width: 100%;
  background-color: #FF0DA3;
  border: none;
  border-radius: 0.25rem;
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.card a {
  color: #FF0DA3;
  font-size: 16px;
  text-decoration: none;
}

.gram-actions {
  font-weight: bold;
  font-size: 16px;
  margin-top: -15px;
  margin-right: 20px;
  margin-left: auto;
}

.comments {
  padding: 20px;
  margin-top: -45px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment-handle {
  color: #FF0DA3;
  font-weight: bold;
  font-size: 16px;
}